/* Thinner navbar control (optional) */
.custom-navbar {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

/* Link styling */
.nav-item-link {
    color: #333;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-item-link:hover {
    color: #ffb608;
}

.active-link {
    color: #ffb608 !important;
}
