* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.def-btn {
  background-color: #ffb608;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.def-btn:hover {
  background-color: #f88c0e;
}
.second-btn {
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 6px;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
.second-btn:hover {
  background-color: #333333;
  color: white;
}
.third-btn {
  background-color: #ffeacc;
  border: none;
  border-radius: 6px;
  color: #ffb608;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
.third-btn:hover {
  color: #f8620e;
}
.h1-joud {
  font-size: 48px;
  font-weight: 600;
}
.h2-joud {
  font-size: 40;
  font-weight: 600;
}
.accept-badge {
  padding: 4px 12px;
  border-radius: 1000px;
  background-color: #dff8cf;
  text-align: center;
  color: #34c759;
}
.pending-badge {
  padding: 4px 12px;
  border-radius: 1000px;
  background-color: #ffeacc;
  text-align: center;
  color: #ff9500;
}
.reject-badge {
  padding: 4px 12px;
  border-radius: 1000px;
  background-color: #ffe1df;
  text-align: center;
  color: #ff3b30;
}
body {
  background: url('./assets/blob-scene-haikei-3.svg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

